@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/*btn*/
  .btn {
    display: inline-block;
    background: blueviolet;
    margin-bottom: 15px;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
  }

  .btn:hover {
    background: #fff;
    color: blueviolet;
  }
  /* Media Queries */

  @media (min-width: 800px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text {
      columns: 2;
      column-gap: 2em;
    }
    
    #section-a .content-text p {
      padding-top: 0;
    }

    .content-wrap,
    #section-b ul {
      grid-column: 2/4;
    }

    .box,
    #main-footer div {
      grid-column: span 2;
    }

    #section-b ul {
      display: flex;
      justify-content: space-around;
    }

    #section-b li {
      width: 31%;
    }
  }
